.wrapper {
    margin: 30px 0 30px 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .users-list {
        min-height: 150px;
        margin: 0;
        grid-column: 4/10;
        .users-table {
            display: grid;
            tr {
                background-color: white;
                border-left: 1px solid black;
                border-right: 1px solid black;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                transition: background-color 0.4s linear;
                &:first-child {
                    line-height: 2.5em;
                    border-top: 1px solid black;
                    &:hover {
                        background-color: #eee;
                    }
                }
                &:nth-child(odd) {
                    background-color: #ebf4fb;
                }
                &:last-child {
                    border-bottom: 1px solid black;
                }
                &:hover {
                    background-color: aqua;
                }
                th,
                td {
                    border: 1px solid #d1d1d1;
                    height: 50px;
                    line-height: 50px;
                    grid-column: span 3;
                    text-align: center;
                    &:nth-child(1) {
                        grid-column: span 1;
                    }
                    &:nth-child(2) {
                        grid-column: span 5;
                        text-align: left;
                        padding-left: 10px;
                        img {
                            height: 40px;
                            width: 40px;
                            border: 2px solid #c9c9c9;
                            border-radius: 5px;
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                    &.btn {
                        &:hover {
                            background-color: #cccccc;
                        }
                        .sort-by {
                            text-decoration: underline;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .arrow {
                            display: inline-flex;
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -o-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                            &.desc {
                                -webkit-transform: rotate(-90deg);
                                -moz-transform: rotate(-90deg);
                                -o-transform: rotate(-90deg);
                                -ms-transform: rotate(-90deg);
                                transform: rotate(-90deg);
                            }
                        }
                        .arrow:before {
                            content: '❯';
                            font-size: 18px;
                            color: #737373;
                        }
                    }
                }
            }
        }
    }
}